<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>导入学生列表页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--引入jquery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!--动态-->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <!--静态调试-->
    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css">
    <script type="text/javascript" src="../../static/layui/layui.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css">
</head>
<body class="layui-layout-body">
<div class="layui-upload" align="center">
    <div style="margin-top: 30px" align="left">
        <button class='layui-btn layui-btn ' type="button" onclick="back()">返  回</button>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;" align="center">
        <legend>请选择您要上传的Excel文件</legend>
    </fieldset>
    <form class="layui-form" action="/importStudentExcel" id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="loadfile"/>
        <div style="margin-top: 30px" align="center">
            <button class='layui-btn layui-btn-normal' type="button" onclick="inspect()">提   交</button>
        </div>
    </form>
</div>
<script>
    var $,table
    layui.use(['table', 'upload'], function(){  //如果只加载一个模块，可以不填数组。如：layui.use('form')
        table = layui.table;
        $=layui.jquery
            ,upload=layui.upload;
    });
    function back() {
        window.location.href = ("http://localhost:8080/labManager/toLabInfo")
    }
    function inspect() {
        var fileObj = document.getElementById("loadfile").files[0];
        if (fileObj == undefined) {
            alert('请先选择上传文件');
            return false;
        }
        var formData = new FormData($('#uploadForm')[0]);
        $.ajax({
            url: "/excel/importTrialExcel",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if(data=="success"){
                    layer.alert("上传成功")
                    layer.close();
                }else{
                    setTimeout('window.location.reload()',1000);
                }
            }
        });
    }
</script>
</body>
</html>
